<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${titulo}"></title>
  </head>
  <body>
    <h1 th:text="${titulo}"></h1>
    <ul>
      <li>
        <a th:href="@{/variables/string/} + 'Hola Andrés'"
          >/variables/string/Hola Andrés</a
        >
      </li>
      <li>
        <a th:href="@{/variables/string/} + 'bye bye'"
          >/variables/string/bye bye</a
        >
      </li>
      <li>
        <a th:href="@{/variables/string/} + @{'holas'} + '/' + @{'7'}"
          >/variables/string/Holas/7</a
        >
      </li>
    </ul>
  </body>
</html>
